
Testing cakephp 3 restapi words.json

http://localhost/cake3restapi/words.json

<a [routerLink]="['/add-word/']" class="btn btn-secondary">add</a>


<h2>List of words</h2>
<ul class="list-group">
    <li class="list-group-item" *ngFor="let word of words">    
      
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Word:      {{word.wordtitle}}</h5>
              <small>ID: {{word.id}}   </small>
            </div>

            <p class="mb-1">
                Syllables: {{word.word_syllables}}
            </p>

            
            <p class="mb-1">
            <a href="https://www.howmanysyllables.com/words/{{word.wordtitle}}">Syllables Check: {{word.wordtitle}}</a>
            </p>
            
            
            
              
              <ul>
                  <li>Created: {{word.created|date: 'dd/MM/yyyy hh:mm:ss'}}</li>
                  <li>Modified: {{word.modified|date: 'dd/MM/yyyy hh:mm:ss'}}</li>
              </ul>
            
            
        </a>


        

        
        <p class="mb-1">
          <a [routerLink]="['/edit-word/'+word.id]" class="btn btn-secondary">Edit</a>
          <button class="btn btn-danger" (click)="onDeleteClick(word.id)">delete</button>
      </p>

    </li>
</ul>
<p></p>