<h2>Display Questions to user</h2>
<ul class="list-group">
    <li class="list-group-item">    
      
        <div  class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Question:      {{question.question}}</h5>
              <small>ID: {{question.id}}   </small>
            </div>

            <p class="mb-1">
                Answers: 
            </p>

            <ul>
                <li> A {{question.ans1}}</li>
                <li> B {{question.ans2}}</li>
                <li> C {{question.ans3}}</li>
                <li> D {{question.ans4}}</li>
                <hr>
                <li> Correct: {{question.correctans}}</li>
                <li> Difficulty: {{question.difficulty}}</li>
            </ul>        
           
            <br>
            <!-- answer options -->
            <ul>
            <li><input type="radio" name="selectedanswer" value="{{question.ans1}}">{{question.ans1}}</li>
            <li><input type="radio" name="selectedanswer" value="{{question.ans2}}"> {{question.ans2}}</li>
            <li><input type="radio" name="selectedanswer" value="{{question.ans3}}"> {{question.ans3}}</li>
            <li><input type="radio" name="selectedanswer" value="{{question.ans4}}"> {{question.ans4}}</li>

                
            </ul>
            <!-- answer options -->

            <hr>
                <ul>
                  <li>Created: {{question.created|date: 'dd/MM/yyyy hh:mm:ss'}}</li>
                  <li>Modified: {{question.modified|date: 'dd/MM/yyyy hh:mm:ss'}}</li>
                </ul>   
            
            </div>


        

        
        <p class="mb-1">
          <button class="btn btn-danger" (click)="onAnswerClick(question.id,this.selectedanswer)">Answer</button>

          <a [routerLink]="['/display-question/'+question.id]" class="btn btn-secondary">display</a>
          <a [routerLink]="['/edit-question/'+question.id]" class="btn btn-secondary">Edit</a>
          <button class="btn btn-danger" (click)="onDeleteClick(question.id)">delete</button>
      </p>

    </li>
</ul>
<p></p>