
Testing cakephp 3 restapi words.json

http://localhost/cake3restapi/words.json

<a [routerLink]="['/add-question/']" class="btn btn-secondary">add</a>


<h2>Questions</h2>
<ul class="list-group">
    <li class="list-group-item" *ngFor="let q of questions">    
      
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Question:      {{q.question}}</h5>
              <small>ID: {{q.id}}   </small>
            </div>

            <p class="mb-1">
                Answers: 
            </p>

            <ul>
                <li> A {{q.ans1}}</li>
                <li> B {{q.ans2}}</li>
                <li> C {{q.ans3}}</li>
                <li> D {{q.ans4}}</li>
                <hr>
                <li> Correct: {{q.correctans}}</li>
                <li> Difficulty: {{q.difficulty}}</li>
            </ul>
            
            <hr>
            
            <!-- simple ng if -->
            <div *ngIf="q.correctans==1;">
                Correct Answer: A {{q.ans1}}
            </div>    
            <div *ngIf="q.correctans==2;">
                Correct Answer: B {{q.ans2}}
            </div>
            <div *ngIf="q.correctans==3;">
                Correct Answer: C {{q.ans3}}
            </div>
            <div *ngIf="q.correctans==4;">
                Correct Answer: D {{q.ans4}}
            </div>
            
            
            <hr>
                <ul>
                  <li>Created: {{q.created|date: 'dd/MM/yyyy hh:mm:ss'}}</li>
                  <li>Modified: {{q.modified|date: 'dd/MM/yyyy hh:mm:ss'}}</li>
                </ul>
            
            
        </a>


        

        
        <p class="mb-1">
          <a [routerLink]="['/display-question/'+q.id]" class="btn btn-secondary">display</a>
          <a [routerLink]="['/edit-question/'+q.id]" class="btn btn-secondary">Edit</a>
          <button class="btn btn-danger" (click)="onDeleteClick(q.id)">delete</button>
      </p>

    </li>
</ul>
<p></p>
